#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color:white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600px;
    color:black;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {     
    color:black;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: flex;
    align-items: center;
}

#hero1 {
    color: ghostwhite;
    background-image: url("img/model1.jpg");
    height: 112vh;
    width: 100%;
    background-size: transparent;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 50;
}

#hero1 h4 {
    padding-bottom: 15px;
}


#hero1 button{
    background-color: transparent;
    color:ghostwhite;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    font-style: italic;
}

.section-p1 {
    padding: 40px 80px;
}

#feature {
   display: flex;
   align-items: center;
   flex-wrap: wrap; 
}

#feature .fe-box {
    width: 300px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid ghostwhite;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-sizing: 100px;
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img {
    margin-bottom: 10px;
    justify-items: center;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 2;
    border-radius: 4px;
    color: ghostwhite;
    background-color: black;
    justify-content: center;
}

#product1 {
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid ghostwhite;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color:rgb(0, 0, 0);
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color:black;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25)
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: black;
}

#product1 .pro .cart {
    color: black;
    position: relative;
    bottom: 20px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: ghostwhite;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner.jpg");
    color: black;
    width: 100;
    height: 40vh;
    background-size: cover;
    background-position: center;
    font-size: larger;
}

#banner button:hover{
    background: black;
    color: ghostwhite;
}

#newsletters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    color: ghostwhite;

}

#newsletters h4 {
    font-size: 22px;
    font-weight: 700;
    color: ghostwhite;

}

#newsletters p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0;
}

#newsletters p span{
    color: rgb(255, 215, 0);
}

#newsletters .form {
    display: flex;
    width: 40%;
}

#newsletters input{
   height: 3.125rem;
   padding: 0 1.25em;
   font-size: 14px;
   width: 100%;
   border: 1px solid transparent;
   border-radius: 4px;
   outline: none; 
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}

#newsletters button {
    background-color: #088178;
    color: ghostwhite;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .copyright {
    display: flex;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
    color: black;
}


footer a {
   font-size: 13px;
   text-decoration: none;
   color: #222;
   margin-bottom: 10px; 
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover {
    color: #088178;
}

@media (max-width:799px) {
    .section-p1 {
        padding: 40px 40px;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    }
}

#navbar li{
    margin-bottom: 25px;
}

#mobile {
    display: none;
    align-items: center;
}

#hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
    text-align: center;
}

#feature {
    justify-content: center;
}

#feature .fe-box {
    margin: 15px 15px;
}

#banner {
    height: 20vh;
}

/*  SHOP PAGE  */
#page-header{
    background-color: white;
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

/*  SINGLE PRODUCT  */
#prodetails {
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image {
    cursor: pointer;
    width: 40%;
    margin-right: 50px;
}

#prodetails .single-pro-deatils select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
} 

#prodetails .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details button {
    background: green;
    color: white;
}

#prodetails .single-pro-deatils span {
    line-height: 25px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/*  BLOG PAGE  */

#page-header.blog-header {
    background-color: white;
    width: 100%;
}

#page-header.blog-header h2 {
    color: black;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
}

#blog .blog-img{
    width: 70%;
    margin-right: 40px;
}

#blog .blog-details .a {
    text-decoration: none;
    font-size: 11;
    color: black;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}


  /*  ABOUT PAGE  */

#about-head img {
    width: 50%;
    height: auto;
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head div {
    padding-left: 40px;
}

/* CONTACT  */

p {
    color: black;
    text-decoration: none;
}


li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

li i {
    font-size: 14px;
    padding-right: 22px;
}

li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
    justify-items: centerx;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid#e1e1e1;
}
form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form input,
form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

button {
    background-color:black;
    color: white;
    justify-content: center;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/*   CART PAGE  */
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 50px;
    justify-content: center;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(3){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(4){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(5){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(6){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
    text-decoration: underline;
}

#cart-add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button {
    padding: 12px 20px;
}

